body {
    font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand {
    color: #3d5a80;
    font-size: 1.5rem;
    font-weight: 600;
}

#mainNav {
    font-size: 1.3rem;
    font-weight: 500;
    color: #3d5a80;
}

.nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: #8e9aaf;
}

.mainBg {
    background-color: #eacec5;
    height: 40rem;
}